<div class="starter-template">
	<p class="lead">What is happening?</p>
</div>


<div class="col-md-6 col-md-offset-3">
	<form id="sendTweet">
		<input type="text" class="form-control" id="tweet">
		<br />
		<button class="btn btn-primary">Tweet</button>		
	</form>

	<br />
	<br />


	<div id="tweets">
		<div class="media">
			<div class="media-left">
				<a herf="#"><img class="media-object" src="{{ user.photo }}"></a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{ user.name }}</h4>
				<p> Hello! My name is Sanjeev</p>
			</div>
		</div>
	</div>

</div>